/* ProductList.css */
.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.product-card {
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 300px;
}

.product-image {
  width: 250px; /* Adjust the width of the product images */
  height: 250px; /* Adjust the height of the product images */
  object-fit: cover;
}

.product-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.product-title {
  margin: 0;
}

.product-price {
  margin: 5px 0;
}

.product-buttons {
  display: flex;
  align-items: center;
}

.product-button {
  font-size: 14px; /* Reduce the font size for smaller buttons */
  padding: 5px 10px; /* Reduce the padding for smaller buttons */
  border: 2px solid blue;
  border-radius: 5px;
  color: blue;
  cursor: pointer;
  margin: 0 5px;
}

.product-button.add-to-cart {
  background-color: white;
}

.product-button.view-details {
  background-color: white;
  color: blue;
}

.product-button.selected {
  background-color: blue;
  color: white;
}

.product-button.add-to-cart:hover {
  background-color: #f0f0f0;
}

.product-button.view-details:hover {
  background-color: blue;
  color: white;
}


.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.selected-item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  padding: 10px;
}

.selected-item-image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-bottom: 10px;
}

.selected-item-info {
  text-align: center;
}

.close-button {
  align-self: flex-end;
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-size: 16px;
  color: #555;
}



.selected-item-info {
  text-align: justify;
}
