.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*updated*/
/* App.css */
.App-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  padding: 10px;
}

.logo {
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.nav-link {
  color: white;
  text-decoration: none;
  margin-right: 20px;
}

.nav-link.active-link {
  font-weight: bold;
}

/* Styles for the login and logout buttons */
.login-button
 {
  background-color: #007bff;
  color: #ffffff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  text-decoration: none;
  margin-left: 10px;
}

.logout-button {
  background-color: red;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  text-decoration: none;
  margin-left: 10px;
}
.login-button:hover {
  background-color: #0056b3;
}

/* Optional: Center the buttons within the navbar */
.App-navbar div {
  display: flex;
  align-items: center;
}

/* Optional: Add some space between the logo/title and the buttons */
.App-navbar .logo,
.App-navbar .title {
  margin-right: 20px;
}

